
.hero-wrapper{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 400px;
    color: rgb(154, 154, 154);
    h3{
        font-size: 18px;
        color: black;
    }
    i{
        font-size: 30px;
    }
}