
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* container first */

.container {

    .contact-text{ 
        span{
            margin: 10px;
        }
    }
  .register {
    ul {
      display: flex;
      list-style-type: none;
     
      a {
        text-decoration: none;
        color: darkgray;
        margin: 15px;
      }
    }
  }
}

/* header */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin: 20px;
  }

  .links {
    margin: 20px;
    ul {
      display: flex;
      list-style-type: none;
      gap: 10px;

      a {
        text-decoration: none;
        color: black;
        margin: 25px;
        font-family: bold;
      }
    }
  }
}

/* header end */



.hero-wrapper{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 400px;
    color: rgb(154, 154, 154);
    h3{
        font-size: 18px;
        color: black;
    }
    i{
        font-size: 30px;
    }
}

/*  slider 2 css */

  
/*  slider 2 css end */


#inputs{
    background-image: url(image/slider-1.jpg);
    height: 300px;
    width: 100%;
    background-repeat:no-repeat;
}